<mat-toolbar
  style="margin: 8px 15px 12px 15px;
         min-height: 45px; max-height: 30px;
         width: auto;
         border-radius: 0.5em;
         background: white;
         color: rgba(255,255,255,0.85)"

  class="mat-elevation-z2"
  color="primary" #matToolbar>
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Back">
      <mat-icon class="top-menu-icon" aria-hidden="false" aria-label="Back"
                routerLink="/">
        keyboard_arrow_left
      </mat-icon>
    </button>
    <span class="top-menu-spacer"></span>
    <span>{{ this.idea.detailTitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="filterButtons">
  <div *ngFor="let value of this.idea.defaultFiltering">
    <button mat-mini-fab class="mat-elevation-z0"
            color="accent"
            (click)="filter(value)">{{value}}
    </button>
  </div>
</div>

<mat-card matRipple
          class="card mat-elevation-z0"
          style="padding: 12px"
          *ngFor="let item of detailCards | async">

  <mat-card-content
    class="tuneRippleEffect"
    routerLink="{{ item.cardContent.externalRouterLink }}" routerLinkActive="active">

    <mat-card-title class="mat-card-content">
      {{ item.cardContent.title }}
    </mat-card-title>

    <mat-card-subtitle class="mat-card-subtitle tuneIconSubtitle">
      <mat-icon class="mat-card-flat" *ngIf="item.cardContent.icon != ''">
        {{ item.cardContent.icon }}
      </mat-icon>
      {{ item.cardContent.tags.join(' • ') }}
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>

<!--blank for the last item for mobile screens-->
<div style="height: 10px"></div>
