<mat-toolbar
  style="margin: 8px 15px 10px 15px; width: auto; border-radius: 0.5em; background: #309aff; color: rgba(00,00,00,0.55)"
  class="mat-elevation-z2"
  color="primary" #matToolbar>
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Back">
      <mat-icon class="top-menu-icon" aria-hidden="false" aria-label="Back"
                routerLink="/">
        keyboard_arrow_left
      </mat-icon>
    </button>
    <span class="top-menu-spacer"></span>
    <span>Subtitle</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card matRipple
          class="card mat-elevation-z1"
          *ngFor="let item of detailCards | async">

  <mat-card-content
    class="tuneRippleEffect"
    routerLink="{{ item.cardContent.externalRouterLink }}" routerLinkActive="active">

    <mat-card-title class="mat-card-content">
      {{ item.cardContent.title }}
    </mat-card-title>

    <mat-card-subtitle class="mat-card-subtitle">
      <mat-icon class="mat-card-flat" *ngIf="item.cardContent.icon != ''">
        {{ item.cardContent.icon }}
      </mat-icon>
      {{ item.cardContent.tags }}
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>

<!--blank for the last item for mobile screens-->
<div style="height: 10px"></div>
