.container button,
.container a {
  display: grid; vertical-align: middle; horiz-align: center;
  width: 65%;
  margin: 0 auto;
  text-transform: uppercase;
}

.buttons {
  margin-bottom: 15px;
}

.firebaseui-idp-icon {
  border: none;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.firebaseui-idp-text {
  color: #757575;
  font-size: 14px;
  padding-left: 16px;
  text-transform: none;
  vertical-align: middle;
}

.firebaseui-idp-text-2 {
  color: #fff;
  font-size: 14px;
  padding-left: 16px;
  text-transform: none;
  vertical-align: middle;
}

.firebaseui-idp-google {
  background-color: #fff;
}


