<!--handle login or signin to render page according to that !-->

<div class="container">

<!--signin related parts-->

<!--  <a mat-raised-button color="primary" (click)="openLink($event)" routerLink="/authz/verify">-->
    <div id="container" class="buttons" *ngIf="auth.user$ | async as user; else continueAs">

      <a mat-raised-button color="primary" (click)="openLink($event)" routerLink="/">
        Continue As {{ user.displayName.split(' ', 1) }}
      </a>

 <!--      TODO:  later this signOut should go under hamburger-menu pages!-->
      <a style="text-transform: lowercase; margin-top: 10px; text-decoration: none; color:#757575 "
            (click)="auth.signOut()" routerLink="/">
      Sign in with a different user
      </a>

    </div>

<!--login related parts-->
    <ng-template #continueAs>

<!--   after google-signin (if we get phoneNumber), route to /   -->
      <a mat-raised-button class="firebaseui-idp-google" (click)="auth.googleSignin()" routerLink="/">
        <img class="firebaseui-idp-icon" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Sign in logo">
        <span class="firebaseui-idp-text">Sign in with Google</span>
      </a>

<!--  after phone-signin, route to /authz/verify  -->
      <!--      <a mat-raised-button color="accent" (click)="openLink($event)" routerLink="/authz/verify">-->
      <!--        <mat-icon>phone</mat-icon>-->
      <!--        <span class="firebaseui-idp-text-2">Sign in with phone</span>-->
      <!--      </a>-->
      <p>By continuing, you agree {{ this.idea.productName }}'s
        <a href = "{{ link.wwwURL }}/assets/privacy.html" style="text-decoration: none; text-transform: lowercase;">privacy policy</a> and
        <a href = "{{ link.wwwURL }}/assets/terms.html" style="text-decoration: none; text-transform: lowercase;">terms of service.</a></p>

    </ng-template>




</div>
