<mat-toolbar
  style="margin: 8px 15px 40px 15px;
         min-height: 45px; max-height: 30px;
         width: auto;
         border-radius: 0.5em;
         background: white;
         color: rgba(255,255,255,0.85)"
  class="mat-elevation-z3"
  color="primary" #matToolbar>
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu">
      <mat-icon class="top-menu-icon" aria-hidden="false" aria-label="Menu">menu</mat-icon>
    </button>
    <span class="top-menu-spacer"></span>
    <span>{{ this.idea.masterTitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<h2 style="margin: -32px 0 14px 10px;
    padding: 10px;
    font-size: small;
    font-weight: 400;
    color: rgba(0,0,0,0.7);">ALL {{ this.idea.masterTitle.toUpperCase() }}</h2>

<!--TODO: inject semantic web tags such as role="section" or role="region" aria-label="master card definition."-->
<mat-card matRipple
          class="card mat-elevation-z0"
          *ngFor="let item of masterCards | async"
          (click)="setCurrent(item.documentId)" >

  <mat-card-header *ngIf="item.cardHeader.title.length > 0">
    <mat-card-title>{{ item.cardHeader.title.substr(0, 40)}}</mat-card-title>
  </mat-card-header>

  <mat-card-content
    class="tuneRippleEffect"
    routerLink="{{ item.cardContent.routerLink }}" routerLinkActive="active">

    <img mat-card-image src="{{ item.cardContent.imageSrcURL}}" alt="{{ item.cardContent.imageAltText}}">

    <div style="background-color: #f7f7f7;
                margin: -22px;
                padding: 25px">
      <mat-card-title>{{ item.cardContent.title}}</mat-card-title>
      <mat-card-subtitle>{{ item.cardContent.subTitle}}</mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>

<!--blank for the last item for mobile screens-->
<div style="height: 10px"></div>

