<mat-toolbar
  class="mat-elevation-z2"
  color="primary" #matToolbar>
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu">
      <mat-icon class="top-menu-icon" aria-hidden="false" aria-label="Menu">menu</mat-icon>
    </button>
    <span class="top-menu-spacer"></span>
    <span>{{ this.idea.masterTitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<!--TODO: inject semantic web tags such as role="section" or role="region" aria-label="master card definition."-->
<mat-card matRipple
          class="card mat-elevation-z2"
          *ngFor="let item of masterCards | async"
          (click)="setCurrent(item.documentId)" >

  <mat-card-header *ngIf="item.cardHeader.title.length > 0">
    <mat-card-title>{{ item.cardHeader.title.substr(0, 40)}}</mat-card-title>
  </mat-card-header>

  <mat-card-content
    class="tuneRippleEffect"
    routerLink="{{ item.cardContent.routerLink }}" routerLinkActive="active">

    <img mat-card-image src="{{ item.cardContent.imageSrcURL}}" alt="{{ item.cardContent.imageAltText}}">

    <mat-card-title>{{ item.cardContent.title}}</mat-card-title>
    <mat-card-subtitle>{{ item.cardContent.subTitle}}</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<!--blank for the last item for mobile screens-->
<div class="dummy-blank"></div>

