@import '~@angular/material/theming';

@include mat-core();

// Define your application's custom palette.
// http://mcg.mbitson.com/#!?mcgpalette0=%23fec701&themename=mcgtheme
$primary: (
  50 : #f1e5f5,
  100 : #ddbde6,
  200 : #c792d5,
  300 : #b066c4,
  400 : #9f45b7,
  500 : #8e24aa,
  600 : #8620a3,
  700 : #7b1b99,
  800 : #711690,
  900 : #5f0d7f,
  A100 : #e6b1ff,
  A200 : #d67eff,
  A400 : #c64bff,
  A700 : #be31ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$accent: (
  50 : #fff8e1,
  100 : #ffeeb3,
  200 : #ffe380,
  300 : #fed84d,
  400 : #fecf27,
  500 : #fec701,
  600 : #fec101,
  700 : #feba01,
  800 : #feb301,
  900 : #fda600,
  A100 : #ffffff,
  A200 : #fff9f1,
  A400 : #ffe6be,
  A700 : #ffdca4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mdc-theme-alternate-50 : #ffe9e6;
$mdc-theme-alternate-100 : #fec8c0;
$mdc-theme-alternate-200 : #fea497;
$mdc-theme-alternate-300 : #fe806d;
$mdc-theme-alternate-400 : #fd644d;
$mdc-theme-alternate-500 : #fd492e;
$mdc-theme-alternate-600 : #fd4229;
$mdc-theme-alternate-700 : #fc3923;
$mdc-theme-alternate-800 : #fc311d;
$mdc-theme-alternate-900 : #fc2112;
$mdc-theme-alternate-A100 : #ffffff;
$mdc-theme-alternate-A200 : #fff6f6;
$mdc-theme-alternate-A400 : #ffc6c3;
$mdc-theme-alternate-A700 : #ffada9;


// Define your application's custom theme.
$material-app-primary: mat-palette($primary, 600, 400, 800);
$material-app-accent:  mat-palette($accent, 400, 200, 800);
$material-app-warn:    mat-palette($mat-red);

$material-app-theme: mat-light-theme($material-app-primary, $material-app-accent, $material-app-warn);

//Include theme styles for Angular Material components.
@include angular-material-theme($material-app-theme);
