// Import global Material Theming variables
@import "material.theme";

//global css operations for angular components. consider performance of inline css !
.top-menu-spacer { flex: 0.1 1 auto; }
.top-menu-icon { padding: 0 5px; }
.mat-card .tuneRippleEffect { margin-bottom: 0; }
.mat-card-title { font-size: 14px; }
.mat-toolbar-row { color: rgba(0,0,0,0.55); font-size: medium; font-weight: 100;}

