
<div id="flex-container" style="height:100%; display: flex; flex-flow: column nowrap; align-items: center">
  <div style="padding-top:100px; flex: 1 0 auto">
    <a href="/"><img src="assets/icons/logo-transparent.png" height="144px" alt="logo"></a>
  </div>
  <div style="margin-bottom: 150px; opacity: 0.3">
    <h4 style="font-size: 20px; color: darkslategray">Page Not found. </h4>
  </div>
  <div style="margin-bottom: 10px; opacity: 0.3">
    <h4 style="font-size: 20px; color: darkslategray">{{ this.idea.productName }}</h4>
  </div>
</div>
